<strong>Olá, {{ deliveryman }}</strong>
<p>new order details below:</p>
<p>
  <strong>Product: </strong> {{ product }} <br/>
  <br/>
  <small>
    you can pick up your order between 08:00 & 18:00.
  </small>
</p>